<?xml version="1.0"?>
<config>
    <modules>
        <ExtensionsMall_SizeChart>
            <version>1.0.2</version>
        </ExtensionsMall_SizeChart>
    </modules>
    <global>
        <models>
            <extensionsmall_sizechart>
                <class>ExtensionsMall_SizeChart_Model</class>
                <resourceModel>extensionsmall_sizechart_resource</resourceModel>
            </extensionsmall_sizechart>
            <extensionsmall_sizechart_resource>
                <class>ExtensionsMall_SizeChart_Model_Resource</class>
                <entities>
                    <sizechart>
                        <table>extensionsmall_sizechart</table>
                    </sizechart>                   
                </entities>
            </extensionsmall_sizechart_resource>
        </models>
        <resources>
            <extensionsmall_sizechart_setup>
                <setup>
                    <module>ExtensionsMall_SizeChart</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </extensionsmall_sizechart_setup>
        </resources>
        <blocks>
            <extensionsmall_sizechart>
                <class>ExtensionsMall_SizeChart_Block</class>
            </extensionsmall_sizechart>
        </blocks>
        <helpers>
            <extensionsmall_sizechart>
                <class>ExtensionsMall_SizeChart_Helper</class>
            </extensionsmall_sizechart>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <sizechart>
                    <file>sizechart.xml</file>
                </sizechart>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <extensionsmallsizechart before="Mage_Adminhtml">ExtensionsMall_SizeChart_Adminhtml</extensionsmallsizechart>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <sizechart_options>
                                            <title>Sizechart Module Section</title>
                                        </sizechart_options>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <!--	START DEFAULTS	-->
    <default>
        <sizechart_options>
            <style>
                <enabled>1</enabled>
                <sizechart_table_heading_color>#3399CC</sizechart_table_heading_color>
            </style>
        </sizechart_options>
    </default>
    <!--	END DEFAULTS	-->
</config>